<div class="container">
  <header class="header">
    <h1>Logout</h1>
  </header><!-- .header -->
</div><!-- .container -->

<div class="container">
  ログアウトしました。
  <div class="login-page">
    <a href="/login">ログインページへ</a>
  </div><!-- .login-page -->
</div><!-- .container -->
