<div class="container">
  <header class="header">
    <h1>menu</h1>
  </header><!-- .header -->
</div><!-- .container -->

<div class="container">
  user name = <%= @userName %>
</div><!-- .container -->
