<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h1 class="navbar-brand mb-0">食品管理システム</h1>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/menu">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/index">食品一覧</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/food_add">食品追加</a>
      </li>
    </ul>
    <span class="navbar-text">
      <%= @userName %>でログイン中
    </span>
    <a class="nav-item nav-link" href="/user/edit">ユーザー編集</a>
    <a class="nav-item nav-link" href="/logout">ログアウト</a>
  </div>
</nav>
