<%= erb :nav_bar %>

<div class="container">
  <header class="header">
      <ol class="breadcrumb" style="display: inline-block;">
        <li class="breadcrumb-item active">
          User Edit
        </li>
      </ol>
  </header><!-- .header -->
</div><!-- .container -->

<div class="container">
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#userDeleteModal">
  ユーザー削除
</button>
</div><!-- .container -->

<!-- modal -->
<div class="modal fade" id="userDeleteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ユーザー削除</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>本当にユーザーを削除してもよろしいですか?</p>
      </div>
      <div class="modal-footer">
        <form class="" action="/user/delete" method="post">
          <button type="submit" class="btn btn-danger delete-user">削除</button>
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
